

<!--Tags, title and date-->
<div class="top">

    <div class="article-tags">

      <div class="tag-div" [routerLink]="['/']">Tag1</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>

    </div>

    <h2 class="titulo">{{article.articleTitle}}</h2>
    <div></div>
  
    <div class="subtitulo">
      <footer>{{article.articleDate}}</footer>
      <div></div>
    </div>
</div>

<!--Body-->
<div class="article-body-div">
  <p class="article-body">{{article.articleBody}}</p>
</div>