

<!--Tags, title and date-->
<div class="top">

    <div class="article-tags">

      <div class="tag-div" [routerLink]="['/']">Tag1</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>
      <div class="tag-div" [routerLink]="['/']">Another tag</div>
      <div class="tag-div" [routerLink]="['/']">Super long tag I dont know what to say</div>

    </div>

    <h2 class="titulo">Title</h2>
    <div></div>
  
    <div class="subtitulo">
      <footer>Date</footer>
      <div></div>
    </div>
</div>

<!--Body-->
<div class="article-body-div">
  <p class="article-body">

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis hendrerit lobortis. Maecenas egestas auctor dictum. Mauris a varius elit. Vestibulum porta arcu vitae tellus dapibus tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut commodo condimentum nunc, ut varius eros scelerisque vitae. Nam metus purus, maximus vel vehicula quis, pretium at mauris.
  <br><br>
  Curabitur quis ante varius, accumsan mauris a, porttitor quam. Curabitur tincidunt magna vitae velit bibendum ultricies. Donec ipsum leo, pulvinar a commodo sed, hendrerit at mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis velit eget est accumsan aliquet. Aenean nec aliquet sapien. Nulla quis vehicula metus, accumsan tempus elit. Morbi venenatis tellus in lectus efficitur, at commodo velit maximus. Mauris varius, arcu id luctus vulputate, arcu mi fringilla nunc, eu placerat enim nibh at ipsum. Ut non urna ut turpis viverra luctus nec vel felis. In semper sem quis sapien gravida, eget venenatis justo volutpat. Proin vitae dui tempor, cursus quam id, cursus metus. Ut eu tincidunt ex. Fusce sit amet purus vel ante dignissim suscipit eget at tellus. Ut dapibus lobortis commodo.
  <br><br>
  Suspendisse nulla elit, molestie non blandit at, vulputate in tortor. Curabitur rhoncus neque nisl, eu dapibus purus suscipit eu. Donec posuere velit eu rutrum vehicula. Curabitur mauris arcu, semper sit amet scelerisque vitae, euismod varius neque. Maecenas condimentum sapien massa. Pellentesque vestibulum erat vulputate tempor maximus. Fusce sit amet ex velit. Fusce consequat consectetur magna, in venenatis metus sodales eget. Phasellus odio sem, euismod in venenatis at, faucibus nec leo. Donec consectetur mollis eros, vitae volutpat turpis lobortis nec. Donec sit amet libero ut ligula pulvinar dignissim. Nulla venenatis varius facilisis. Sed eget mattis metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  <br><br>
  Integer a libero feugiat, fermentum magna ut, convallis mi. Duis imperdiet dui magna. Duis faucibus quis orci sit amet vulputate. Quisque pretium eget ante vitae sodales. Morbi nec posuere sapien. Aliquam erat volutpat. Maecenas in eros ullamcorper, ultrices tellus ut, consequat mauris. Donec non facilisis diam, a venenatis velit. Aenean vel erat eu ipsum luctus feugiat nec vel magna. Fusce quam tellus, imperdiet ut bibendum eget, imperdiet eget risus. Sed libero ipsum, scelerisque et risus vitae, sollicitudin bibendum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eget laoreet mauris, at porta arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum mollis nisi quis elementum euismod.
  <br><br>
  Sed porttitor lorem quis est fermentum sollicitudin. Nunc nec enim libero. Nulla ipsum diam, dapibus nec erat at, mattis tincidunt justo. Maecenas vestibulum tincidunt posuere. Duis ultrices elit scelerisque porttitor suscipit. Phasellus et feugiat orci, nec consectetur arcu. Nunc pellentesque, neque sit amet hendrerit ultrices, nulla elit facilisis risus, ut gravida sapien nulla eget quam. 
  </p>
</div>