<!--Title-->
<div class="top">
    <div><h2 class="titulo">Edit article</h2></div>
    <div></div>
  
    <div class="subtitulo">
      <footer>Edit your article!</footer>
      <div></div>
    </div>
</div>


<!--Form-->
<form class="article-form-container" (ngSubmit)="onSubmit()" (keydown)="preventSubmit($event)">
    <div class="article-form">
        
        <div class="mb-3">
            <label for="articleTitle" class="form-label text-light h4">Title</label>
            <input type="text" class="form-control bg-dark text-white" id="articleTitle" name="articleTitle" [(ngModel)]="article.articleTitle" required="required">
        </div>
        
        <div class="mb-3">
            <label for="articleBody" class="form-label text-light h4">Article body</label>
            <textarea class="form-control bg-dark text-white" id="articleBody" name="articleBody" [(ngModel)]="article.articleBody" style="height: 500px" required="required"></textarea>
        </div>

        <div> 
            <label for="inputTags" class="form-label text-light h4">Tags</label>
            <input type="text" (keyup.enter)="addTag()" class="form-control bg-dark text-white" id="inputTags"  required="required">

            <div class="added-tags" id="articleTags" [(ngModel)]="article.articleTags" name="articleTags">
                <div *ngFor="let tag of tags" class="tag-div" id="tagId{{tag.tagName}}" (click)="removeTag($event)">{{tag.tagName}}<i class="bi bi-x" id="tagId{{tag.tagName}}"></i></div>
            </div>
        </div>

        <div class="form-buttons">
            <button type="submit" class="btn btn-success me-3">Save changes</button>
            <a [routerLink]="['/view-article', article.articleId]" class="btn btn-danger">Cancel</a>
        </div>

    </div>
</form>