<!-- Navbar and title-->
<div class="top">   
    <div class="topbar">
        <div class="logodiv"> <a href="index.html"><img alt="logo de la pagina" title="Logo de la pagina" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQzhQSx5atrLyvDZGhTCC-G5qK62EUDJMSkJLNNWrv7Hb_IF1Th" class="logo"></a> </div>
        <div class="menu">
            <div class="submenu"><a href="index.html" class="links-sin-estilo">Home</a></div>
            <div class="submenu">  <a href="index.html" class="links-sin-estilo"> Explore </a>  </div>
        </div>
    </div>    
   

    <div class="titulo">
        <h1> MyBlog </h1>
        <div> </div>
    </div>

    <div class="subtitulo">
        <footer> Science, food, wildlife, technology and much more!</footer>
        <div> </div>
    </div>

</div>