<!-- Navbar-->
<div class="top">   
    <div class="topbar">
        <div class="logodiv"> <a [routerLink]="['/']"><img alt="logo de la pagina" title="Logo de la pagina" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQzhQSx5atrLyvDZGhTCC-G5qK62EUDJMSkJLNNWrv7Hb_IF1Th" class="logo"></a> </div>
        <div class="menu">
            <div class="submenu"><a [routerLink]="['/']" class="links-sin-estilo">Home</a></div>
            <div class="submenu"><a [routerLink]="['/']" class="links-sin-estilo"> Explore </a></div>
        </div>
    </div>    
</div>