<!--Title-->
<div class="top">
  <div><h1 class="titulo">MyBlog</h1></div>
  <div></div>

  <div class="subtitulo">
    <footer>Science, food, wildlife, technology and much more!</footer>
    <div></div>
  </div>
</div>

<!-- Articles-->

<div class="articulos">
  <a href="/add-article" class="add-article">
    <div class="add-article-div">+ Add new article</div>
  </a>
  <hr />
  <div *ngFor="let article of articles">
      <a class="noticia" href="javascript:void(0)" (click)="viewArticle(article.articleId)">
        <div class="titulo-noticia">{{ article.articleTitle }}</div>
        <div class="fecha">{{ article.articleDate }}</div>
      </a>
    <hr />
  </div>
</div>
